// Override bootstrap variables
$primary: #03256C;
$secondary: #1768AC;

// Import lato css
@import 'lato/application';

// Add custom css
pre {
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
}