// Override bootstrap variables
// $gray-100: rgb(238, 238, 228);
// $gray-200: rgb(212, 212, 203);
// $gray-300: rgb(186, 186, 178);
// $gray-400: rgb(160, 160, 153);
// $gray-500: rgb(134, 134, 128);
// $gray-600: rgb(108, 108, 103);
// $gray-700: rgb(82, 82, 78);
// $gray-800: rgb(56, 56, 53);
// $gray-900: rgb(30, 30, 28);
// $primary: #21130d;
// $info: #063970;
// $warning: #eab676;
// $danger: #e28743;
// $success: #6ab04c;
// $secondary: #873e23;
// $border-radius: 0;
// $border-radius-sm: 0;
// $border-radius-lg: 0;
// $border-radius-xl: 0;
// $border-radius-2xl: 0;
// $border-radius-pill: 0;

// Import lato css
@import 'lato/application';

// Add custom css
pre {
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
}