<%= lato_page_head 'Account' %>

<div class="card mb-3">
  <div class="card-header">
    <h2 class="fs-3 mb-0">Informazioni account</h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form_user', user: @session.user %>
  </div>
</div>

<% if false %>
<div class="card mb-3">
  <div class="card-header">
    <h2 class="fs-3 mb-0">Dati di fatturazione</h2>
  </div>
  <div class="card-body">

  </div>
</div>
<% end %>

<div class="card mb-3">
  <div class="card-header">
    <h2 class="fs-3 mb-0">Aggiornamento password</h2>
  </div>
  <div class="card-body">
    <%= render 'lato/account/form_password', user: @session.user %>
  </div>
</div>


<% if false %>
<div class="card mb-3">
  <div class="card-header">
    <h2 class="fs-3 mb-0">Chiavi API</h2>
  </div>
  <div class="card-body">
    
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-header">
    <h2 class="fs-3 mb-0">Cancellazione account</h2>
  </div>
  <div class="card-body">
    <div class="alert alert-warning">
      <h4 class="alert-heading">Attenzione</h4>
      <p>
        Cancellando il tuo account <b>saranno automaticamente eliminati definitivamente tutti i dati</b> ad esso associati.<br>
        Confermando l'eliminazione non ci sarà più modo di recuperare le informazioni perse.
      </p>
      <p class="mb-0">
        Digita il tuo indirizzo email di registrazione e premi "Elimina account" per procedere con l'operazione.
      </p>
    </div>

    <%= render 'lato/account/form_destroy', user: @session.user %>
  </div>
</div>