<div class="w-100 h-100 d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 54px - 2rem)">
  <div class="card w-100" style="max-width: 350px">
    <div class="card-body text-center">
      <p><%= @session.user.first_name %>, Sei sicuro di voler uscire dal tuo account?</p>
      <div class="">
        <%= link_to 'Annulla', lato.root_path, class: %w[btn btn-danger] %>
        <%= link_to 'Conferma ed esci', lato.authentication_signout_action_path, class: %w[btn btn-success], data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</div>