<div class="w-100 h-100 d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 54px - 2rem)">
  <div class="card w-100" style="max-width: 400px">
    <div class="card-header">
      <h1 class="fs-3 mb-0 text-center"><%= I18n.t('lato.signin') %></h1>
    </div>
    <div class="card-body">
      <%= render 'lato/authentication/form-signin', user: @user %>
    </div>
    <% unless Lato.config.auth_disable_recover_password %>
      <div class="card-footer text-center">
        <%= link_to I18n.t('lato.forgot_your_password?'), lato.authentication_recover_password_path, class: 'text-muted' %>
      </div>
    <% end %>
  </div>
</div>