/** Import dependencies */

$primary: #293b5a !default;
$secondary: #7b96c4 !default;
$success: #26b75e !default;
$danger: #e32908 !default;
$warning: #ffae03 !default;
$info: #00c8e7 !default;

$gray-100: #ebeff4 !default;
$gray-200: #dde3e9 !default;
$gray-300: #d3dae1 !default;
$gray-400: #c3ccd5 !default;
$gray-500: #a4afba !default;
$gray-600: #66727d !default;
$gray-700: #454f58 !default;
$gray-800: #313a42 !default;
$gray-900: #1f262c !default;

$tooltip-opacity: 1;
$tooltip-max-width: 300px;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css");
@import "bootstrap";

/** Turbo loading **/

.turbo-progress-bar {
  background-color: $primary;
}

/** Pagination (minimal style for gem kaminari) */

.pagination {}

.pagination > span {
  display: inline-block;
  margin: 0 4px;
}

.pagination .current {
  font-weight: bold;
}

/** Custom style */

main {
  width: 100%;

  &.layout_sidebar {
    width: calc(100% - 280px);

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

aside {
  width: 280px;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

main, aside {
  padding-top: 54px;
  min-height: 100vh;
}

.aside-opener {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  background-color: $primary;
  color: $white;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;

    > div {
      width: 280px;
      overflow-y: auto;
    }

    .aside-open & {
      transform: translateX(0);
    }
  }

  .aside-opener {
    display: flex;
  }
}

.lato-index-col-sort {
  .btn {
    font-size: 12px;
    padding: 0.15rem 0.3rem;
  }
}

.lato-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lato-guide-tooltip {

}