<% 10.times do %>

<div class="modal fade" data-lato-action-target="modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" data-lato-action-target="modalDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="mb-0 mt-0 fs-4" data-lato-action-target="modalTitle"></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-lato-action-target="modalBody">
        ...
      </div>
    </div>
  </div>
</div>

<% end %>