<button
  class="aside-opener shadow"
  data-controller="lato-aside-opener"
  data-action="click->lato-aside-opener#onClickToggle"
  aria-label="Toggle sidebar"
>
  <i class="bi bi-layout-text-sidebar-reverse"></i>
</button>