<div class="footer <%= Lato.btstrap.footer %>">
  <div class="<%= Lato.btstrap.footer_container %>">
    © <%= Date.today.year %> - <%= link_to  Lato.config.application_company_name,  Lato.config.application_company_url, target: '_blank' %>
  </div>
</div>