<nav id="nav" class="navbar <%= Lato.btstrap.nav %>">
  <div class="<%= Lato.btstrap.nav__container %>">
    <%= link_to Rails.application.routes.url_helpers.root_path, class: "navbar-brand" do %>
      <%= Lato.config.application_title %>
    <% end %>
  </div>
</nav>