<div class="border-bottom mb-3">
  <% if breadcrumbs.any? %>
    <ol class="breadcrumb mb-1">
      <% breadcrumbs.each do |breadcrumb| %>
        <li class="breadcrumb-item">
          <%= breadcrumb[:path] ? link_to(breadcrumb[:label], breadcrumb[:path]) : content_tag(:span, breadcrumb[:label]) %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <h1><%= title %></h1>

  <%= yield %>
</div>