<header>
  <h1>My application</h1>
</header>

<main>
  <p>
  This is the <b>homepage of the application</b>.<br>
  It can be a landing page with custom CSS and no Lato dependencies.
  </p>

  <ul>
    <li><%= link_to 'Sign-in', lato.authentication_signin_path %></li>
    <li><%= link_to 'Sign-up', lato.authentication_signup_path %></li>
  </ul>
</main>
