<header>
  <h1 data-controller="hello"></h1>
</header>

<main>
  <p>
  This is the <b>homepage of the application</b>.<br>
  It use the <i>application.html.erb</i> layout with custom CSS and JS without Lato dependencies.
  </p>

  <ul>
    <li><%= link_to 'Sign-in', lato.authentication_signin_path, data: { turbo: false } %></li>
    <li><%= link_to 'Sign-up', lato.authentication_signup_path, data: { turbo: false } %></li>
  </ul>
</main>
