<%= lato_page_head 'Azioni', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Azioni' }
] %>

<p>
Le azioni permettono di visualizzare informazioni ed elementi funzionali in-page senza dover richiedere un cambio di pagina da parte dell'utente.<br>
Le azioni sono gestite tramite il controller di Stimulus JS <code>lato_action_controller</code>.
</p>

<p>
Per avviare un azione basta impostare l'attributo <code>data-lato-action-target="trigger"</code> ad un link del DOM e definire tramite l'attributo <code>data-turbo-frame="id_frame"</code> l'ID del turbo-frame da caricare nella azione. 
</p>

<p>
<%= link_to 'Esempio', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product' } %>
</p>

<pre>
&#60;%= link_to 'Esempio',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product'
  }
%&#62;
</pre>

<h3>Personalizzare l'overlay</h3>

<h4>Specificare il titolo</h4>

<p>
<%= link_to 'Esempio', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product', action_title: 'Titolo personalizzato' } %>
</p>

<pre>
&#60;%= link_to 'Esempio',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product',
    action_title: 'Titolo personalizzato'
  }
%&#62;
</pre>

<h4>Specificare la dimensione</h4>

<p>
<%= link_to 'Esempio', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product', action_size: 'xl' } %>
</p>

<pre>
&#60;%= link_to 'Esempio',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product',
    action_size: 'xl'
  }
%&#62;
</pre>