<%= lato_page_head 'Actions', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Actions' }
] %>

<p>
Actions allow you to display information and functional elements in-page without requiring a full page reload by the user.<br>
They are managed via the Stimulus JS controller <code>lato_action_controller</code>.
</p>

<p>
To trigger an action, simply add the attribute <code>data-lato-action-target="trigger"</code> to a link in the DOM and define the ID of the turbo-frame to load using the <code>data-turbo-frame="frame_id"</code> attribute.
</p>

<p>
<%= link_to 'Example', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product' } %>
</p>

<pre>
&#60;%= link_to 'Example',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product'
  }
%&#62;
</pre>

<h3>Customizing the Overlay</h3>

<h4>Set a Custom Title</h4>

<p>
<%= link_to 'Example', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product', action_title: 'Custom Title' } %>
</p>

<pre>
&#60;%= link_to 'Example',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product',
    action_title: 'Custom Title'
  }
%&#62;
</pre>

<h4>Set a Custom Size</h4>

<p>
<%= link_to 'Example', main_app.products_path, data: { lato_action_target: 'trigger', turbo_frame: 'lato_index_default_product', action_size: 'xl' } %>
</p>

<pre>
&#60;%= link_to 'Example',
  main_app.products_path,
  data: {
    lato_action_target: 'trigger',
    turbo_frame: 'lato_index_default_product',
    action_size: 'xl'
  }
%&#62;
</pre>
