<%= lato_page_head 'Configurazione', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Configurazione' }
] %>

<p>
La configurazione di Lato è gestita dalla classe <code>Lato::Config</code> e può essere modificata tramite un apposito initializer.<br>
Per personalizzare la configurazione di default puoi creare un initializer è inserire il codice seguente:
</p>

<pre>
Lato.configure do |config|
  config.application_title = 'Lato example app'
  config.session_root_path = :tutorial_path
end
</pre>

<p>
<%= link_to 'Source code: Esempio', 'https://github.com/Lato-GAM/lato/blob/main/test/dummy/config/initializers/lato_config.rb', target: '_blank' %><br>
<%= link_to 'Source code: Lato::Config', 'https://github.com/Lato-GAM/lato/blob/main/lib/lato/config.rb', target: '_blank' %>
</p>

<h2>Configurazione applicazione</h2>

<pre>
Lato.configure do |config|
  config.application_title = 'Lato example app' # Titolo applicazione
  config.application_company_name = 'Lato Team' # Titolo azienda proprietaria dell'applicazione
  config.application_company_url = 'http://domain.com' # Url azienda proprietaria dell'applicazione
end
</pre>

<h2>Configurazione autenticazione</h2>

<pre>
Lato.configure do |config|
  config.auth_disable_signup = true # Disabilita la possibilità di registrarsi autonomamente
end
</pre>

<h2>Configurazione assets</h2>

<pre>
Lato.configure do |config|
  config.assets_stylesheet_entry = 'lato' # Specifica il file CSS utilizzato per lo stile di lato (default application.scss)
end
</pre>

<h2>Configurazione gestione sessioni</h2>

<pre>
Lato.configure do |config|
  config.session_lifetime = 5.days # Tempo di vita dei cookie di sessione
  config.session_root_path = :tutorial_path # Nome della path dove rimandare l'utente una volta eseguito il login/signup
end
</pre>

<h2>Configurazione email</h2>

<pre>
Lato.configure do |config|
  config.email_from = 'demo@mail.com' # Indirizzo email mittente delle notifiche email
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  La configurazione <code>email_from</code> può essere impostata con la struttura " <i>"Name" &#60;example@domain.com&#62;'</i> ".<br>
  Esempio:
  </p>
<pre>
Lato.configure do |config|
  config.email_from = '"Company name" &#60;demo@mail.com&#62;' # Indirizzo email mittente delle notifiche email
end
</pre>
</div>

<h2>Configurazione informazioni legali</h2>

<pre>
Lato.configure do |config|
  config.legal_privacy_policy_url = 'http:/domain.com/privacy' # Url privacy policy applicazione
  config.legal_privacy_policy_version = 32 # Intero che specifica la versione di privacy policy attiva
  config.legal_terms_and_conditions_url = 'http:/domain.com/terms' # Url termini e condizioni applicazione
  config.legal_terms_and_conditions_version = 32 # Intero che specifica la versione di termini e condizioni attiva
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  Lato tiene traccia della versione di privacy policy e termini e condizioni accettate dall'utente.<br>
  Se l'utente loggato risulta aver accettato una versione inferiore a quella impostata tramite <code>legal_privacy_policy_version</code> o <code>legal_terms_and_conditions_version</code> allora vedrà automaticamente una richiesta di accettazione delle nuove policy nella pagina di gestione account.
  </p>
  <p>
  Per verificare se un utente ha accettato le ultime versioni di policy è possibile utilizzare i metodi <code>valid_accepted_privacy_policy_version?</code> e <code>valid_accepted_terms_and_conditions_version?</code> delle istanze del modello <code>Lato::User</code>.<br>
  Esempio:
  </p>
<pre>
user = Lato::User.all.first
throw "Privacy policy non valida" unless user.valid_accepted_privacy_policy_version?
throw "Termini e condizioni non validi" unless user.valid_accepted_terms_and_conditions_version?
</pre>
</div>

<p>
<%= link_to 'Source code: Lato::User', 'https://github.com/Lato-GAM/lato/blob/main/app/models/lato/user.rb', target: '_blank' %>
</p>
