<%= lato_page_head 'Configuration', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Configuration' }
] %>

<p>
Lato's configuration is managed by the <code>Lato::Config</code> class and can be customized through a dedicated initializer.<br>
To override the default settings, create an initializer and add the following code:
</p>

<pre>
Lato.configure do |config|
  config.application_title = 'Lato example app'
  config.session_root_path = :tutorial_path
end
</pre>

<p>
<%= link_to 'Source code: Example', 'https://github.com/lato-org/lato/blob/main/test/dummy/config/initializers/lato_config.rb', target: '_blank', class: 'llm-ignore' %><br>
<%= link_to 'Source code: Lato::Config', 'https://github.com/lato-org/lato/blob/main/lib/lato/config.rb', target: '_blank', class: 'llm-ignore' %>
</p>

<h2>Application Configuration</h2>

<pre>
Lato.configure do |config|
  config.application_title = 'Lato example app' # Application title
  config.application_company_name = 'Lato Team' # Name of the owning company
  config.application_company_url = 'http://domain.com' # URL of the owning company
end
</pre>

<h2>Authentication Configuration</h2>

<pre>
Lato.configure do |config|
  config.auth_disable_signup = true # Disable user self-signup
  config.auth_disable_recover_password = true # Disable password recovery
  config.auth_disable_web3 = true # Disable Web3 wallet login
  config.auth_disable_authenticator = true # Disable Google Authenticator login
end
</pre>

<h2>HCaptcha Configuration</h2>

<p>
  <a href="https://hcaptcha.com">HCaptcha</a> is a service that helps protect websites from spam and abuse by using advanced risk analysis techniques.
  By integrating HCaptcha into your application, you can add an extra layer of security to authentication forms.
</p>

<pre>
Lato.configure do |config|
  config.hcaptcha_site_key = 'your-hcaptcha-site-key'
  config.hcaptcha_secret = 'your-hcaptcha-secret'
end
</pre>

<h2>Assets Configuration</h2>

<pre>
Lato.configure do |config|
  config.assets_stylesheet_entry = 'application' # CSS file for Lato styling (default: application.scss)
  config.assets_importmap_entry = 'application' # JS entry point for Lato (default: application.js)
end
</pre>

<h2>Session Management Configuration</h2>

<pre>
Lato.configure do |config|
  config.session_lifetime = 5.days # Lifetime of session cookies
  config.session_root_path = :tutorial_path # Path to redirect users after login/signup
end
</pre>

<h2>Email Configuration</h2>

<pre>
Lato.configure do |config|
  config.email_from = 'demo@mail.com' # Sender email address for notifications
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  The <code>email_from</code> setting can include a display name using the format <i>"Name" &#60;example@domain.com&#62;</i>.<br>
  Example:
  </p>
<pre>
Lato.configure do |config|
  config.email_from = '"Company name" &#60;demo@mail.com&#62;'
end
</pre>
</div>

<h2>Legal Information Configuration</h2>

<pre>
Lato.configure do |config|
  config.legal_privacy_policy_url = 'http:/domain.com/privacy' # Privacy policy URL
  config.legal_privacy_policy_version = 32 # Version number of the active privacy policy
  config.legal_terms_and_conditions_url = 'http:/domain.com/terms' # Terms and conditions URL
  config.legal_terms_and_conditions_version = 32 # Version number of the active terms and conditions
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  Lato tracks which version of the privacy policy and terms the user has accepted.<br>
  If the logged-in user has accepted a version lower than the one configured via <code>legal_privacy_policy_version</code> or <code>legal_terms_and_conditions_version</code>, a prompt will appear in the account management page to accept the new policies.
  </p>
  <p>
  To check whether a user has accepted the latest policy versions, use the <code>valid_accepted_privacy_policy_version?</code> and <code>valid_accepted_terms_and_conditions_version?</code> methods on instances of the <code>Lato::User</code> model.<br>
  Example:
  </p>
<pre>
user = Lato::User.all.first
throw "Privacy policy not accepted" unless user.valid_accepted_privacy_policy_version?
throw "Terms and conditions not accepted" unless user.valid_accepted_terms_and_conditions_version?
</pre>
</div>

<h2>Account Connection Configuration</h2>

<pre>
Lato.configure do |config|
  config.web3_connection = true # Allow users to link a Web3 wallet to their account
  config.authenticator_connection = true # Allow users to link Google Authenticator to their account
end
</pre>

<p>
<%= link_to 'Source code: Lato::User', 'https://github.com/lato-org/lato/blob/main/app/models/lato/user.rb', target: '_blank', class: 'llm-ignore' %>
</p>
