<%= lato_page_head 'Guide', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Guide' }
] %>

<p
  data-lato-guide-target="item"
  data-guide-key="intro"
  data-guide-index="1"
  data-guide-content="This is an example of a guide."
>
The guide can be used to build step-by-step tutorials for using the platform.<br>
Guides are managed via the Stimulus JS controller <code>lato_guide_controller</code>.
</p>

<p
  data-lato-guide-target="item"
  data-guide-key="add"
  data-guide-index="2"
  data-guide-content="Here is how to add a guide."
>
  To add a guide, set the attribute <code>data-lato-guide-target="item"</code> to a DOM element and define a unique key for the guide with the <code>data-guide-key</code> attribute, the display index with <code>data-guide-index</code>, and the guide content with <code>data-guide-content</code>.
</p>

<pre
  data-lato-guide-target="item"
  data-guide-key="code"
  data-guide-index="3"
  data-guide-content="This is an example of code."
>
&#60;p
  data-lato-guide-target="item"
  data-guide-key="intro"
  data-guide-index="1"
  data-guide-content="This is an example of a guide."
&#62;
</pre>

<h3>Reset Guides</h3>

<p>
  Once a guide has been displayed, it is stored in the browser's local storage.<br>
  To reset the guides, simply use the <code>rerun</code> method of the <code>lato_guide_controller</code>.
</p>

<p>
  <%= link_to 'Reset', '#', data: { action: 'click->lato-guide#rerun' } %>
</p>

<pre>
&#60;%= link_to 'Reset', '#', data: { action: 'click->lato-guide#rerun' } %&#62;
</pre>
