<%= lato_page_head 'Invitations', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Invitations' }
] %>

<p>
Invitations can be used for applications that do not require registration but allow users to invite others to the platform.<br>
Through an invitation, it is possible to:
</p>

<ul>
  <li>Send an invitation email to the user to set up their credentials</li>
  <li>Track completed registrations</li>
</ul>

<div class="example bg-light p-3 mb-3">
<%= render 'tutorial/components/form-invitation' %>
</div>

<div class="example bg-light p-3 mb-3">
<%= lato_index @invitations, columns: %i[email accepted_at lato_user_id actions] %>
</div>

<p>
Here are some examples of the operations you can perform with invitations:
</p>

<pre>
# creating an invitation (and automatically sending the invite email)
@invitation = Lato::Invitation.create(params.require(:invitation).permit(:email).merge(inviter_lato_user_id: @session.user_id))

# re-sending the invitation email (max 1 every 2 minutes)
@invitation.send_invite

# deleting the invitation
@invitation.destroy
</pre>
