<%= lato_page_head 'Operazioni', [
  { label: 'Tutorial', path: tutorial_path },
  { label: 'Operazioni' }
] %>

<p>
Le operazioni sono un sistema di Lato per gestire visualmente l'esecuzione di Job in background.<br>
Le operazioni sono gestite da diverse parti:
</p>

<ul>
  <li>Il modello <code>Lato::Operation</code> inizializza tutte le operazioni e tiene traccia del loro stato di esecuzione.</li>
  <li>Il controller <code>Lato::OperationsController</code> gestisce l'accesso degli utenti ad una operazione in corso.</li>
  <li>La componente <code>lato_operation</code> permette di visualizzare a front-end lo stato di una operazione.</li>
</ul>

<h3>Convertire un Job in una operazione</h3>

<p>
Il metodo più facile per convertire un Job in una operazione è, semplicemente, fare in modo che il Job sia una sotto-classe di <code>Lato::ApplicationJob</code>.<br>
È inoltre necessario che il metodo <code>perform()</code> riceva un solo parametro Hash <code>params</code>.
</p>

<pre>
# Prima
def MyJob < ApplicationJob
  def perform(hello)
    puts hello
  end
end

# Dopo
def MyJob < Lato::ApplicationJob
  def perform(params = {})
    puts params[:hello]
  end
end
</pre>